/*Pour le menu*/

/* Styles responsives */
@media(max-width: 500px){   
          .social-icons {
            margin-top: 50px;
            margin-right: 0;
          }
    .formulaire-newsletter input[type="text"] {
        border: none;
        color: var(--white);
        width: 19rem;
        height: 52px;
        margin: 1rem;
        border-radius: 10px 10px 10px 10px;
      }
      .formulaire-newsletter input[type="email"] {
        border: none;
        color: var(--white);
        width: 19rem;
        height: 52px;
        margin: 1rem;
        border-radius: 10px 10px 10px 10px;
      }
      .formulaire-newsletter button{
        
            width: 28rem;
            height: 5vh;
            margin: 1rem;
            border-radius: 10px 10px 10px 10px;
          
      }
      .formulaire-container {
        display: flex;
        /* justify-content: space-between; 
        align-items: center; 
        max-width: 1200px;
        width: 100%; */
        margin:  auto;
        /* padding: 2rem; */
        /* border-radius: 10px; */
    }
}
@media (max-width: 768px) {
.nav-logo {
    flex-direction: column;
    align-items: flex-start;
}

.nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--white);
}

.nav-item {
    padding: 0.5rem;
    width: 100%;
    text-align: left;
}

.nav-link {
    padding: 10px 20px;
    width: 100%;
}

.nav-toggle {
    display: flex;
    right: 20px;
    position: absolute;
}

.nav-container.active .nav-menu {
    display: flex;
}
}
.nav-container.active .nav-menu {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
  }
/* */

@media (max-width: 1050px) {
    /*Login*/
    #home {
        height: 4vh;
        width: 24vw;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
        font-weight: bold;
      }
    /*Ours*/
    .image-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0px;
        position: relative;
        top: 0px;
      }
    /*Newlestter*/
.formulaire-newsletter input[type="text"] {
    border: none;
    color: var(--white);
    width: 19rem;
    height: 52px;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
  }
  .formulaire-newsletter input[type="email"] {
    border: none;
    color: var(--white);
    width: 19rem;
    height: 52px;
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
  }
  .formulaire-newsletter button{
    
        width: 28rem;
        height: 5vh;
        margin: 1rem;
        border-radius: 10px 10px 10px 10px;
      
  }
.contenu-principale {
    display: flex;
    flex-direction: column;
}
.footer-section {
    display: flex;
    flex-direction: column;
    /* padding: 10px;
    min-width: 200px;*/
    border-bottom: 1px solid var(--white);
    border-left: none;
}

#section1 {
     flex: 1;
    padding: 10px;
    min-width: 200px;
    border-bottom: 1px solid var(--white); 
}
/*Login*/
#imgs, #imgl{
    display: none;
}
}

@media (max-width: 900px) {
    .area {
        top: 0px;
        position: relative;
      }
    .appointment-form button {
        top: 0px;

      }
.contenu {
    padding: 0;
    text-align: center;
  }
.contenu-principale {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
.contenu-principale h1 {
    font-size: 32px;
    margin: 0;
    text-align: center;
}
.contenu-principale p {
    font-size: 17px;
    color: var(--muted);
    margin-bottom: 0rem;
    text-align: center;
}
.contenu-principale button {
    background: var(--primary);
    color: var(--white);
    padding: 0.5rem 1rem;
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.image-principale img {
    width: 25.875rem;
    height: 15rem;
    border-radius: 10px;
}
/*Section*/
.section-services {
    padding: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.etapes {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1rem;
}
.service-etapes h2 {
    font-size: 25px;
    font-weight: bold;
}
.service-etapes p {
    font-size: 1.5em;
}
.etape {
    width: 150px;
    height: 90px;
}
/*Shield*/
.services-listS {
    display: grid;
    grid-template-columns: repeat(1, 400px);
    list-style: none;
    padding: 0;
}
.image-containerS  {
    display: none;
    position: relative;
    padding: 0;
    margin: 0;
  }
  .services-containerS {
    display: flex;
    flex-direction: column;
    left: 1px;
    top: 1px;
    padding: 1px;
  }
  .liste-services {
    display: grid;
    gap: 1rem;
    justify-content: center;
    grid-template-columns: repeat(1, 300px);
    text-align: center;
}
.services-container {
    display: flex;
    padding: 2rem;
}
/*A bout*/
.content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }
  /*Appointment*/
  .appointment {
    padding: 43px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .appointment-image {
    display: none;
}
.container-appointment{
    display: flex;
    flex-direction: column;
}
.appointment-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0rem;
    display: flex;
    width: 353px;

  }

  .appointment-form button {
    width: 330px;
  }
  .appointment textarea {
             display: flex;
            justify-content: center;
            width: 330px;
            align-items: center;
}

.newsletter {
background-color: var(--silver);
padding-right: 15px;
padding-left: 15px;
padding-bottom: 5px;
padding-top: 5px;
}
        /*Newlestter*/
        .newsletter form {
            display: flex;
            gap: 1rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
          }
          .checkbox {
            left: 0;
            position: relative;
            top: 4px;
          }
          .formulaire-newsletter input[type="email"]{
            background-color: #6f8f9c;
            border: none;
            padding: 10px;
            font-size: 15px;
            color: var(--whiteBG);
            width: 20rem;
            height: 5vh;
            margin: 1rem;
            border-radius: 10px 10px 10px 10px;
          }
          .formulaire-newsletter input[type="text"]{
            background-color: #6f8f9c;
            border: none;
            padding: 10px;
            font-size: 15px;
            color: var(--whiteBG);
            width: 20rem;
            height: 5vh;
            margin: 1rem;
            border-radius: 10px 10px 10px 10px;
          }
/*footer*/
.footer-section {
    display: flex;
    flex-direction: column;
    /* padding: 10px;
    min-width: 200px;*/
    border-bottom: 1px solid var(--white);
    border-left: none;
}

#section1 {
     flex: 1;
    padding: 10px;
    min-width: 200px;
    border-bottom: 1px solid var(--white); 
}

#section4 {
     /*flex: 1;
    padding: 10px;
    min-width: 200px;
    border-bottom: 1px solid var(--white); */
    border: none;
}

/*Login*/
/* .image-container img{
    display: none;
} */

.formulaire-inscription input, .formulaire-connexion input {
width: 97%;
height: 5vh;
}
.formulaire-container {
/* display: flex;
align-items: center;
border-radius: 10px;
width: 175%; */
display: flex;
    align-items: center;
    border-radius: 10px;
    border: 5px solid aliceblue;
    box-shadow: 0 2px 2px 2px;
}
.formulaire-connexion button {
    font-size: 1rem;
    width: 50%;
    top: 20px;
    position: relative;
}
.sexe-options input {
width: 25px;
}
} 